@import './variables';

* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	min-height: 100vh;
}

html, body, ul, li, a, img, h1, h2, h3, iframe, figure, main, section, article {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
}

body {
	position: relative;
	min-width: 370px;
	background: $page-bg-color;
	font-size: 1rem;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 400;
	color: $text-color;
}

h1, h2, h3 {
	font-weight: normal;
}

a {
	color: $text-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

a.btn {
	display: inline-block;
	margin: 0 20px 20px 0;
	width: 180px;
	height: 50px;
	line-height: 50px;
	border-radius: 5px;
	border: 1px solid #474d65;
	text-align: center;
	transition: 0.4s;

	&:hover {
		text-decoration: none;
		background: fade-out($color-theme-tint-light, 0.9);
		transition: 0.2s;
	}
}

#modal {
	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	transition: 0.5s;
	
	.loading {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		display:grid;
		align-items: center;
		justify-items: center;
	}
	
	&.open {
		display: block;
	}

	.content {
		position: relative;
		width: 90vw;
		height: calc(100vh - 110px);
		margin: 55px 0 0 5vw;

		iframe {
			width: 100%;
			height: 100%;
		}
	}

	> div.background {
		position: absolute;
		width: 100%;
		height: 100%;
		background: #f2f2f2;
		opacity: 0.8;
	}

	.close {
		position: absolute;
		right: 15px;
		top: 15px;
		width: 30px;
		height: 30px;
		opacity: 0.3;
		cursor: pointer;

		&:hover {
			opacity: 1;
		}

		&:before, &:after {
			position: absolute;
			height: 30px;
			width: 3px;
			left: 15px;
			background-color: #605955;
			content: ' ';
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}
	}
}

.loading-spinner {
	display: inline-block;
	width: 80px;
	height: 80px;
	
	&:after {
		content: " ";
		display: block;
		width: 64px;
		height: 64px;
		margin: 8px;
		border-radius: 50%;
		border: 6px solid #fff;
		border-color: #fff transparent #fff transparent;
		animation: ring-spin 1.2s linear infinite;
	}
}

@keyframes ring-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
