@import './variables';

body::after {
	content: '';
	display: block;
	height: $footer-height;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: $footer-height;
	line-height: $footer-height;
	background: $color-primary;
	
	font-family: Arial, sans-serif;
	text-align: center;
	font-size: 0.8rem;
	
	.grid {
		display: grid;
		gap: 1em;
	}
	
	.copy {
		font-size: 0.7rem;
	}
}