@import './variables';

.header {
	position: relative;
	background: $header-bg-color;
	height: $header-height;
	overflow: hidden;
	max-width: 100%;
	font-family: 'Raleway', Arial, sans-serif;
	perspective: 1000px;

	@media(max-width: $size-small) {
		height: auto;

		.center {
			height: auto !important;
			padding-bottom: 50px !important;
		}
	}

	.glow-over {
		position: absolute;
		z-index: 3;
		left: 0;
		top: 0;
		background: url('../images/glow-over.png') top left no-repeat;
		width: 668px;
		height: $header-height;
	}

	.glow-under {
		position: absolute;
		top: 0;
		right: 0;
		background: url('../images/glow-under.png') bottom right no-repeat;
		width: 864px;
		height: $header-height;
	}

	.editor {
		position: absolute;
		width: 1233px;
		height: 678px;
		top: 67px;
		right: auto;
		left: calc(50% - 150px);
		z-index: 1;
		transition: 200ms linear all;

		&:hover {
			opacity: 1;

			&::before {
				opacity: 0.4;
			}
		}

		&::before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: url('../images/editor.png') 0 0 no-repeat;
			content: "";
			opacity: 0.25;
			transition: 0.5s;
		}

		@media(max-width: $size-large) {
			right: 30px;
			left: auto;
		}

		.run-playground {
			position: absolute;
			width: 100px;
			height: 100px;
			background: url('../images/run-icon.png') center center no-repeat;
			cursor: pointer;
			top: 300px;
			right: 541px;
			opacity: 0.6;
			transition: 0.2s;
			
			&:hover {
				opacity: 1;
			}

			@media(max-width: $size-large) {
				right: calc(25vw - 21px);
			}

			@media(max-width: $content-width) {
				right: calc((100vw - 50rem) / 2 - 21px);
			}

			@media(max-width: $size-small) {
				display: none;
			}

			span {
				display: none;
			}
		}
	}

	.center {
		position: relative;
		width: $content-width;
		height: $header-height;
		margin: 0 auto;
		padding: 0 30px;
		overflow: hidden;

		@media(max-width: $content-width) {
			width: 100%;
		}

		.editor-fade-cover {
			position: absolute;
			z-index: 2;
			top: 0;
			left: -30px;
			height: $header-height;
			width: 50rem;
			background-image: linear-gradient(to right, $header-bg-color 0%, $header-bg-color 60%, rgba(0, 0, 0, 0) 100%);
		}

		nav {
			position: relative;
			z-index: 4;
			float: right;
			margin-top: 20px;

			ul {
				list-style-type: none;

				li {
					float: left;
					margin: 0 1em;

					&:first-child {
						margin-left: 0;
					}

					&:last-child {
						margin-right: 0;
					}

					a {
						font-size: 1.1rem;
						display: block;
						padding: 0 0.5em;
						line-height: 35px;

						img {
							vertical-align: -6px;
						}
					}
				}
			}
		}

		.title {
			position: relative;
			z-index: 4;
			margin-top: 190px;
			transition: 0.3s;
			width: max-content;
			overflow: visible;

			@media(max-width: $size-base) {
				max-width: 100%;
			}

			@media(max-width: $size-small) {
				margin-top: 90px;
			}

			header {
				h1, h2 {
					font-family: 'Raleway', Arial, sans-serif;
				}

				h1 {
					position: relative;
					font-size: 8rem;
					margin-bottom: 10px;
					color: $color-theme-tint-dark;
					font-weight: 400;
					overflow: hidden;

					@media(max-width: $size-small) {
						font-size: 5.8rem;
					}

					@media(max-width: 520px) {
						text-align: center;
					}

					span.name {
						display: inline-block;
						float: left;

						@media(max-width: 520px) {
							float: none;
						}

						&:after {
							content: 'RTTIST';
							text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
							color: transparent;
						}

						span {
							position: absolute;
							background: linear-gradient(90deg, #6b639f, #769bc0);
							-webkit-background-clip: text;
							background-clip: text;
							-webkit-text-fill-color: transparent;
						}
					}

					span.logomark {
						position: relative;
						background: url('../images/logo-mark.png') right center no-repeat;
						background-size: contain;
						width: 10rem;
						height: 10rem;
						display: inline-block;
						float: right;

						@media(max-width: $size-small) {
							width: 1em;
							height: 1em;
							float: none;
							margin-left: 0.175em;
							margin-top: 0.125em;
						}

						@media(max-width: 520px) {
							width: 100%;
							margin: 0.125em 0 0.05em 0;
							background-position: center center;
						}
					}
				}

				h2 {
					position: relative;
					font-size: 3.25rem;
					font-weight: 300;

					@media(max-width: $size-small) {
						font-size: 2rem;

						span {
							&:after {
								content: ' ';
							}

							br {
								display: none;
							}
						}
					}


					@media(max-width: 520px) {
						text-align: center;
					}
				}
			}

			.buttons {
				position: relative;
				margin-top: 70px;

				@media(max-width: 520px) {
					margin-top: 50px;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
				}

				@media(max-width: 405px) {
					a.btn {
						margin-right: 0;
					}
				}

				a.btn {
					&:first-child {
						background: fade-out($color-theme-tint-light, 0.8);

						&:hover {
							background: fade-out($color-theme-tint-light, 0.7);
						}
					}

					&.run-playground {
						display: none;

						@media(max-width: $size-small) {
							display: inline-block;
						}
					}
				}
			}
		}
	}
}