@import './variables';

main {
	width: $content-width;
	margin: 0 auto;
	padding: 30px;
	//color: #333a63;
	//color: #4e599a;
	color: #6b64a0;

	@media(max-width: $content-width) {
		width: 100%;
	}
	
	h1 {
		font-size: 2.5rem;
		margin-bottom: 0.35em;
	}
	
	iframe {
		width: 100%;
		height: 80vh;
	}
}