@import './variables';

$content-width-small: 1300px;

main {
	width: 100%;
	position: relative;
	overflow: hidden;

	&:before {
		content: ' ';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: url('../images/circles.png');
		opacity: 0.085;
	}

	h1 {
		font-size: 2.5rem;
		margin-bottom: 0.35em;
		font-weight: 600;
		font-family: "Inter", Arial, sans-serif;
	}

	> div.section-wrap {
		width: 100%;

		&:nth-child(2n) {
			background: $color-theme-tint-dark;

			> section {
				color: $text-color-light;
			}
		}

		> section {
			width: $content-width;
			margin: 0 auto;
			padding: 4rem 2rem;
			color: $color-theme-tint-dark;

			p:first-of-type {
				font-size: 1.1rem;
			}

			@media(max-width: $content-width) {
				width: 100%;
			}

			a {
				color: $color-secondary;
				text-decoration: underline;
				text-decoration-color: transparentize($color-secondary, 0.5);

				&:hover {
					text-decoration-color: $color-secondary;
				}
			}

			strong {
				color: $color-secondary;
				font-weight: 400;
			}

			&.highlights {
				> section {
					position: relative;
					margin-top: 150px;
					overflow: hidden;

					&:first-child {
						margin-top: 0;
					}

					opacity: 0;
					transform: translateX(25%);
					transition: 0.5s;

					&.visible-animated {
						opacity: 1;
						transform: none;
					}

					&:nth-child(2n) {
						transform: translateX(-25%);

						&.visible-animated {
							transform: none;
						}

						> div {
							float: right;
							padding-left: 50px;
							padding-right: 0;
						}

						> figure {
							float: left;
						}
					}

					> div {
						float: left;
						margin-top: 50px;
						width: 50%;
						padding-right: 50px;

						p {
							text-align: justify;
						}
					}

					> figure {
						float: right;
						width: 50%;
						overflow: hidden;

						pre {
							border-radius: 5px;
							width: 100%;
						}
					}

					@media(max-width: $content-width-small) {
						&:nth-child(2n) {
							> div {
								float: right;
								padding-left: 30px;
								padding-right: 0;
							}
						}

						> div {
							width: 40%;
							padding-right: 30px;
						}

						> figure {
							width: 60%;
						}
					}

					@media(max-width: $size-small) {
						margin-top: 80px;

						> div, > figure {
							width: 100%;
							padding: 0;
							float: none;
						}

						div {
							margin-top: 0 !important;

							figure {
								display: flex;
								align-items: center;
								justify-content: center;
							}
						}

						> figure {
							display: flex;
							align-items: center;
							flex-direction: column;
							margin-top: 50px;

							pre {
								width: max-content !important;
								min-width: 70%;
								max-width: 100%;

								@media(hover: none) {
									scrollbar-width: none;

									&::-webkit-scrollbar {
										display: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}